body {
	background-color:#EFEFFB;
	overflow-x:hidden;
	 overflow-y:auto;
}

textarea{
	font-size: 12px;
	resize: none;
	height: auto;
	width: 350px;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

input[type="text"]{
	font-size: 12px;
	height: 23px;
	width: 350px;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

table{
	width:100%;
	height: 100%;
	border-collapse: collapse;
}
td, tr{
	border: 1px solid gray;
	padding: 5px;
}

topbar{
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
        	box-sizing: border-box;
    padding: 10px;
	background-color: #CECEF6;
}
#topbaralign{
	position: fixed;
	left: 50%;
	margin-left: -430px;
}
#topbaralign2{
	position: fixed;
	left: 55%;
}

sidebar{
	position: fixed;
	text-align: center;
	margin-left: -450px;
	top: 40px;
	left: 50%;
	width: 150px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
        box-sizing: border-box;
	padding: 10px;
	line-height:200%;
	background-color: #EFEFFB;
}

mainlayer{
	position: absolute;
	margin-left: -300px;
	top: 40px;
	left: 50%;
	height: 100%;
	width: 100%;
}

#topic{
	z-index: 0;
	position: relative;
	max-width:750px;
	margin: 0 auto;
	height:130px;

	border: 1px solid grey;
	border-radius: 10px;
	margin:20px;
	padding:5px;
	overflow:hidden;
	background-color: white;
}